@charset "UTF-8";
.orange-btn, input[type=submit], .disable-btn, .gray-btn { cursor: pointer; }

.orange-btn, input[type=submit], .disable-btn, .gray-btn { text-align: center; }

@font-face { font-family: Muiicons; src: url(plugins/fonts/mui.ttf) format("truetype"); font-weight: 400; font-style: normal; }
article, aside-wrap, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { padding: 0; margin: 0; }

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var { font-weight: normal; font-style: normal; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }

q:before, q:after { content: ""; }

abbr, acronym { border: 0; }

::-webkit-scrollbar { opacity: 0; width: 0; }

.fb { font-weight: bold; }

.fn { font-weight: normal; }

.t2 { text-indent: 2em; }

.bc { margin-left: auto; margin-right: auto; }

.fl { float: left; display: inline; }

.fr { float: right; display: inline; }

.cb { clear: both; }

.cl { clear: left; }

.cr { clear: right; }

.vm { vertical-align: middle; }

.vt { vertical-align: top; }

.zoom { zoom: 1; }

.none { display: none; }

.db { display: block; }

.dib { display: inline-block; }

.pointer { cursor: pointer; }

.pr { position: relative; }

.pa { position: absolute; }

.tl { text-align: left; }

.tc { text-align: center; }

.tr { text-align: right; }

.ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.orange-btn, input[type=submit], .disable-btn, .gray-btn { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; font-size: 1rem; color: #fff; border: 0; }

html, body { height: 100%; font-family: "微软雅黑", Arail, "Helvetica Neue", Helvetica, sans-serif; }

body { background-color: #f3f4f8 !important; color: #333; font-size: 16px; }

h1, h2, h3, h4, h5, h6 { font-size: 16px; }

p { color: #333; }

a, a:hover { text-decoration: none; }

i { font-style: normal; }

input, select, textarea, label { font-family: "微软雅黑", Arail, "Helvetica Neue", Helvetica, sans-serif; font-size: 16px; }

.mui-input-row label { font-family: "微软雅黑", Arail, "Helvetica Neue", Helvetica, sans-serif; }

.mui-content { background-color: transparent; height: 100%; overflow: scroll; }
.mui-content.pb60 { width: 100%; height: 100%; position: fixed; }

.mui-table-view-cell.mui-active { background-color: #fff; }

.mui-bar ~ .mui-content .mui-fullscreen { top: 44px; height: auto; }

.mui-pull-top-tips { position: absolute; top: -20px; left: 50%; margin-left: -25px; width: 40px; height: 40px; border-radius: 100%; z-index: 3; }

.mui-bar ~ .mui-pull-top-tips { top: 24px; }

.mui-pull-top-wrapper { width: 42px; height: 42px; display: block; text-align: center; background-color: #f3f4f8 !important; border: 1px solid #ddd; border-radius: 25px; background-clip: padding-box; box-shadow: 0 4px 10px #bbb; overflow: hidden; }

.mui-pull-top-tips.mui-transitioning { -webkit-transition-duration: 200ms; transition-duration: 200ms; }

.mui-pull-top-tips .mui-pull-loading { -webkit-transition-duration: 400ms; transition-duration: 400ms; margin: 0; }

.mui-pull-top-wrapper .mui-icon, .mui-pull-top-wrapper .mui-spinner { margin-top: 7px; }

.mui-pull-bottom-tips { text-align: center; background-color: #f3f4f8 !important; font-size: 15px; line-height: 40px; color: #777; }

.mui-pull-top-canvas { overflow: hidden; background-color: #fafafa; border-radius: 40px; box-shadow: 0 4px 10px #bbb; width: 40px; height: 40px; margin: 0 auto; }

.mui-pull-top-canvas canvas { width: 40px; }

.mui-slider-indicator.mui-segmented-control { background-color: #f3f4f8 !important; }

.order_intro .mui-slider .mui-slider-group .mui-control-content { min-height: 100%; display: none; }
.order_intro .mui-slider .mui-slider-group .mui-control-content.mui-active { display: block; }

.pb60 { padding-bottom: 60px; }

.mt10 { margin-top: 10px; }

.mr10 { margin-right: 10px; }

.orange { color: #f56c1a; }

.green { color: #7fc602; }

.gray { color: #888888; }

.red { color: #da2626; }

.f14 { font-size: 14px; }

.mui-btn { font-size: 0.875rem; }

.orange-btn, input[type=submit] { color: #fff; background-color: #f56c1a; }
.orange-btn:hover, .orange-btn:focus, .orange-btn:active, input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active { background-color: #ba4b08; }

.disable-btn { color: #666666; background-color: #fff; border: 1px solid #eee; }
.disable-btn:hover, .disable-btn:focus, .disable-btn:active { background-color: #d9d9d9; }

.gray-btn { color: #888888; background-color: #ececed; }
.gray-btn:hover, .gray-btn:focus, .gray-btn:active { background-color: #c5c5c8; }

.btn_group { padding: 0 15px; margin-bottom: 10px; }
.btn_group .mui-btn { width: 100%; padding: 8px 0; }
.btn_group .mui-btn ~ .mui-btn { margin-top: 10px; }

.btn_wrap { padding: 10px 15px; margin-top: 10px; }
.btn_wrap .mui-btn { width: 100%; padding: 8px 0; }

.shop_icon { display: inline-block; background: url("../img/icon.png") no-repeat; background-size: 100% auto; }
.shop_icon.icon_position { width: 25px; height: 20px; }
.shop_icon.icon_cart { width: 25px; height: 25px; background-position: 0 -21px; }
.shop_icon.icon_dash { width: 22px; height: 22px; background-position: 0 -40px; }
.shop_icon.icon_shop { width: 30px; height: 30px; background-position: 0 -83px; }
.shop_icon.icon_pp { width: 35px; height: 35px; background-position: 0 -227px; }
.shop_icon.icon_weixin { width: 35px; height: 35px; background-position: 0 -262px; }
.shop_icon.icon_clock { width: 30px; height: 30px; background-position: 0 -130px; }
.shop_icon.icon_pencil { width: 30px; height: 20px; background-position: 0 -170px; }
.shop_icon.icon_tips { width: 25px; height: 25px; background-position: 0 -210px; }
.shop_icon.icon_tips.green { width: 30px; height: 30px; background-position: 0 -380px; }
.shop_icon.icon_confirm { width: 25px; height: 25px; background-position: 0 -240px; }
.shop_icon.icon_sclock { width: 30px; height: 30px; background-position: 0 -323px; }
.shop_icon.icon_camera { width: 35px; height: 35px; background-position: 0 -408px; }

.user_icon { width: 30px; height: 30px; display: inline-block; background: url("../img/user_icon.png") no-repeat; background-size: 100% auto; }
.user_icon.icon_email { background-position: 0 -220px; }
.user_icon.icon_pay { width: 30px; height: 24px; background-position: 5px -264px; }
.user_icon.icon_bag { width: 30px; height: 22px; background-position: 3px -289px; }
.user_icon.icon_file { width: 30px; height: 22px; background-position: 3px -311px; }
.user_icon.icon_box { width: 30px; height: 23px; background-position: 3px -335px; }
.user_icon.icon_order { background-position: 0 0; }
.user_icon.icon_wallet { background-position: 0 -30px; }
.user_icon.icon_cash { background-position: 0 -60px; }
.user_icon.icon_delivery { background-position: 0 -90px; }
.user_icon.icon_safe { background-position: 0 -120px; }
.user_icon.icon_feedback { background-position: 0 -150px; }
.user_icon.icon_fault { background-position: 0 -180px; }

.no_icon { width: 100px; height: 100px; display: inline-block; background: url("../img/no_icon.png") no-repeat; background-size: 100% auto; }
.no_icon.icon_all { background-position: 0 0; }
.no_icon.icon_pay { background-position: 0 -100px; }
.no_icon.icon_delivery { background-position: 0 -200px; }
.no_icon.icon_receiving { background-position: 0 -300px; }
.no_icon.icon_shipping { background-position: 0 -400px; }
.no_icon.icon_bag { background-position: 0 -500px; }
.no_icon.icon_charge { background-position: 0 -600px; }
.no_icon.icon_email { background-position: 0 -700px; }

.safe_icon { width: 25px; height: 25px; display: inline-block; background: url("../img/pwd.png") no-repeat; background-size: 100% auto; }
.safe_icon.safe_unlock { background-position: 0 0; }
.safe_icon.safe_lock { background-position: 0 -26px; }
.safe_icon.safe_check { background-position: 0 -54px; }
.safe_icon.safe_phone { background-position: 0 -79px; }

.official_icon { width: 25px; height: 25px; display: inline-block; background: url("../img/official_icon.png") no-repeat; background-size: 100% auto; }
.official_icon.icon_qq { width: 30px; height: 30px; background-position: 0 0; }
.official_icon.icon_weibo { background-position: 0 -27px; }
.official_icon.icon_weixin { background-position: 0 -55px; }

.charge_icon { width: 50px; height: 50px; display: inline-block; background: url("../img/charge_icon.png") no-repeat; background-size: 100% auto; }
.charge_icon.icon_charge { background-position: 0 0; }
.charge_icon.icon_buy { background-position: 0 -50px; }
.charge_icon.icon_refund { background-position: 0 -100px; }

.title { padding: 15px 15px 10px; }
.title span { height: 15px; line-height: 15px; font-size: 12px; padding: 8px 15px 10px 20px; position: relative; display: inline-block; }
.title span .icon_tips { position: absolute; top: 2px; left: 0; }
.title.small { font-size: 14px; line-height: 20px; color: #666666; padding-left: 40px; position: relative; }
.title.small .icon_tips { position: absolute; top: 12px; left: 15px; }

.radio_wrap { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background-color: #fff; padding-left: 15px; }
.radio_wrap .mui-radio { border-bottom: 1px solid #eee; }
.radio_wrap .mui-radio:last-child { border: 0; }
.radio_wrap .mui-radio label { padding: 13px 0; }
.radio_wrap .mui-radio input[type=radio] { top: 9px; right: 15px; }
.radio_wrap .mui-radio input[type=radio]:before { content: ""; }
.radio_wrap .mui-radio input[type=radio]:checked:before { content: ""; color: #f56c1a; }
.radio_wrap .mui-radio input[type=radio].red:checked:before { content: ""; color: #ef5757; }

.position { width: 100%; height: 70px; border-bottom: 1px solid #ddd; position: fixed; top: 0; left: 0; background-color: #fff7e2; padding: 10px 15px 10px 45px; z-index: 2; }
.position .icon_position { position: absolute; top: 50%; left: 15px; margin-top: -10px; }
.position h3 { color: #333; line-height: 30px; }
.position span.mui-pull-right { color: #888888; font-size: 14px; }
.position span.mui-pull-right .mui-icon { font-size: 20px; }
.position p { color: #888888; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.theme_shop { width: 100%; height: 100%; position: fixed; top: 0; right: 0; left: 0; bottom: 0; padding: 70px 0 40px 0; box-sizing: border-box; overflow: hidden; }
.theme_shop .category { position: fixed; top: 70px; left: 0; bottom: 40px; width: 25%; background-color: #f3f4f8; overflow: scroll; }
.theme_shop .category .mui-scroll-wrapper { background-color: #f3f4f8; }
.theme_shop .category .mui-scroll { width: 100%; left: 0; }
.theme_shop .category .category_list { border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; border-left: 3px solid #f3f4f8; height: 45px; line-height: 45px; text-align: center; background-color: #fff; }
.theme_shop .category .category_list.active { border-left: 3px solid #7fc602; border-right: 1px solid #f3f4f8; color: #7fc602; background-color: #f3f4f8; }
.theme_shop .shop_wrapper { width: 75%; position: fixed; right: 0; top: 70px; bottom: 50px; background-color: #f3f4f8; overflow: hidden; }
.theme_shop .shop_wrapper .mui-scrollbar { display: none; }
.theme_shop .shop_wrapper .mui-scroll { padding-left: 5px; background-color: #f3f4f8; }
.theme_shop .shop_wrapper .shop_proList { display: none; background-color: #f3f4f8; }
.theme_shop .shop_wrapper .shop_proList.active { display: block; }
.theme_shop .no_data { padding: 55px 15px 20px; text-align: center; }
.theme_shop .no_data .icon_pro { margin: 30px 0 10px; }
.theme_shop .no_data p { color: #888888; line-height: 24px; }

.pro_con { padding: 10px 5px; }

.pro_list { overflow: hidden; }
.pro_list .product { width: 48%; height: auto; border: 1px solid #ddd; float: left; position: relative; margin: 1%; padding: 10px 5px; text-align: center; background-color: #fff; }
.pro_list .product.sold { border: 1px solid transparent; }
.pro_list .product.sold .label { width: 100%; height: 100%; display: inline-block; position: absolute; left: 0; top: 0; background-color: rgba(255, 255, 255, 0.8); }
.pro_list .product.sold .label i { width: 60px; height: 60px; line-height: 60px; border: 1px solid #ddd; border-radius: 50%; display: inline-block; position: absolute; top: 50%; left: 50%; margin-top: -30px; margin-left: -30px; font-size: 14px; color: #888888; background-color: #fff; }
.pro_list .product .add_wrap .pro_price { font-size: 14px; }
.pro_list .product a { color: #333; display: block; }
.pro_list .pro_img { width: 70px; height: 70px; display: block; margin: 0 auto; overflow: hidden; }
.pro_list .pro_img img { max-width: 100%; max-height: 100%; }
.pro_list .pro_title { font-size: 14px; line-height: 18px; height: 36px; margin: 5px 0; overflow: hidden; }

.add_wrap { overflow: hidden; width: 100%; height: 22px; line-height: 22px; padding-left: 40px; }
.add_wrap .pro_price { position: absolute; left: 5px; font-size: 18px; color: #fd7b17; }

.add_cart.mui-numbox { width: 100%; }
.add_cart.mui-numbox .mui-numbox-btn-minus { display: none; }
.add_cart.mui-numbox .mui-numbox-input { display: none; }

.mui-numbox { height: 22px; line-height: 22px; max-width: 65px; padding: 0 20px; background-color: transparent; border: 0; border-radius: 0; text-align: center; }
.mui-numbox [class*=mui-numbox-btn], .mui-numbox [class*=mui-numbox-btn]:active { width: 20px; height: 20px; border-radius: 50%; font-size: 14px; color: #fff; background-color: #7fc602; }
.mui-numbox .mui-numbox-btn-minus { border: 1px solid #7fc602; color: #7fc602; background-color: #fff; }
.mui-numbox .mui-numbox-input { font-size: 14px; border: 0 !important; padding: 0 !important; }

.fly_item { width: 40px; height: 40px; position: absolute; visibility: hidden; background-color: #fff; opacity: 0.5; _filter: alpha(opacity=0.5); z-index: 3; }
.fly_item img { max-height: 100%; max-width: 100%; }

.go_top { width: 20px; height: 20px; line-height: 20px; color: #fff; background-color: rgba(0, 0, 0, 0.3); position: fixed; right: 10px; bottom: 60px; z-index: 1; text-align: center; display: none; }

.fixed_wrap { width: 100%; height: 50px; line-height: 50px; position: fixed; left: 0; bottom: 0; padding: 0 0 0 15px; color: #fff; background-color: #3d3d3e; z-index: 1; }
.fixed_wrap .message_list { font-size: 14px; }
.fixed_wrap .message_list i { font-size: 18px; }
.fixed_wrap a { width: 30%; text-align: center; color: #fff; background-color: #f56c1a; }

.fixed_btn { width: 100%; height: 40px; line-height: 40px; position: fixed; left: 0; bottom: 0; }
.fixed_btn .mui-btn { width: 100%; height: 100%; padding: 8px; }

.shop_cart { width: 100%; height: 50px; line-height: 50px; position: fixed; left: 0; bottom: 0; padding: 0 0 0 15px; background-color: #3d3d3e; z-index: 2; }
.shop_cart a { display: inline-block; color: #fff; }
.shop_cart .message_list { padding-left: 35px; }
.shop_cart span { margin-right: 15px; font-size: 14px; }
.shop_cart .icon_cart { position: absolute; top: 50%; left: 15px; margin-top: -12.5px; }
.shop_cart .icon_cart .cart_num { border-radius: 50%; background-color: #da2626; font-size: 12px; color: #fff; text-align: center; position: absolute; top: -7px; left: 15px; }
.shop_cart .choosed { width: 30%; text-align: center; background-color: #f56c1a; display: none; }

.shop_list { width: 100%; position: fixed; bottom: -100%; left: 0; background-color: #fff; z-index: 2; }
.shop_list.show { bottom: 50px; }
.shop_list h4 { width: 100%; height: 35px; line-height: 35px; padding: 0 15px; background-color: #ececed; }
.shop_list h4 .close_list:before { width: 35px; height: 35px; line-height: 35px; content: "×"; display: inline-block; font-size: 28px; color: #888888; }
.shop_list h4 a { font-size: 14px; color: #888888; }
.shop_list h4 .icon_dash { position: relative; top: 7px; }
.shop_list ul { width: 100%; padding: 0 15px; max-height: 210px; overflow: scroll; }
.shop_list .cart_list { border-bottom: 1px solid #ddd; width: 100%; height: 42px; line-height: 22px; padding: 10px 70px 10px 0; overflow: hidden; position: relative; }
.shop_list .cart_list .pro { width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position: relative; padding-right: 50px; }
.shop_list .cart_list .pro span:last-child { font-size: 14px; color: #f56c1a; position: absolute; right: 5px; }
.shop_list .cart_list .mui-numbox { position: absolute; right: 0; }

.shake { -webkit-transform-origin: center center; -moz-transform-origin: center center; -ms-transform-origin: center center; -o-transform-origin: center center; transform-origin: center center; -webkit-animation: shake-rotate 0.3s linear; -moz-animation: shake-rotate 0.3s linear; -ms-animation: shake-rotate 0.3s linear; -o-animation: shake-rotate 0.3s linear; animation: shake-rotate 0.3s linear; }

@-webkit-keyframes shake-rotate { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  15% { -webkit-transform: rotate(2.5deg); -moz-transform: rotate(2.5deg); -ms-transform: rotate(2.5deg); -o-transform: rotate(2.5deg); transform: rotate(2.5deg); }
  25% { -webkit-transform: rotate(5deg); -moz-transform: rotate(5deg); -ms-transform: rotate(5deg); -o-transform: rotate(5deg); transform: rotate(5deg); }
  37.5% { -webkit-transform: rotate(2.5deg); -moz-transform: rotate(2.5deg); -ms-transform: rotate(2.5deg); -o-transform: rotate(2.5deg); transform: rotate(2.5deg); }
  50% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  65% { -webkit-transform: rotate(-1.25deg); -moz-transform: rotate(-1.25deg); -ms-transform: rotate(-1.25deg); -o-transform: rotate(-1.25deg); transform: rotate(-1.25deg); }
  75% { -webkit-transform: rotate(-2.5deg); -moz-transform: rotate(-2.5deg); -ms-transform: rotate(-2.5deg); -o-transform: rotate(-2.5deg); transform: rotate(-2.5deg); }
  87.5% { -webkit-transform: rotate(-1.25deg); -moz-transform: rotate(-1.25deg); -ms-transform: rotate(-1.25deg); -o-transform: rotate(-1.25deg); transform: rotate(-1.25deg); }
  100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); } }
.scale { -webkit-transform-origin: center center; -moz-transform-origin: center center; -ms-transform-origin: center center; -o-transform-origin: center center; transform-origin: center center; -webkit-animation: shake-scale 0.8s linear; -moz-animation: shake-scale 0.8s linear; -ms-animation: shake-scale 0.8s linear; -o-animation: shake-scale 0.8s linear; animation: shake-scale 0.8s linear; }

@-webkit-keyframes shake-scale { 0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
  25% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9); }
  50% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
  75% { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
  100% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }
.search_wrap { position: relative; padding: 10px 15px; height: 55px; box-sizing: border-box; background-color: #fff; }
.search_wrap .mui-icon-search { position: absolute; top: -1px; left: -8px; z-index: 1; color: #888888; }
.search_wrap .mui-input-clear { position: absolute; height: 35px; font-size: 14px; text-align: left; background-color: #fff; border: 1px solid #ddd; border-radius: 3px; }

.search_title { margin: 15px 15px 10px; position: relative; }

.search_list { margin-bottom: 10px; padding: 10px 15px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background-color: #fff; }
.search_list h4 { line-height: 24px; margin-bottom: 5px; }
.search_list h4 span.mui-pull-right { color: #888888; font-size: 14px; }
.search_list h4 span.mui-pull-right .mui-icon { font-size: 20px; }
.search_list p { line-height: 20px; color: #888888; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.pro_img { width: 100%; height: 200px; position: relative; background-color: #fff; }
.pro_img img { max-width: 100%; height: 100%; display: block; margin: 0 auto; }

.pro_info { border-bottom: 1px solid #ddd; background-color: #fff; padding: 10px 15px; }
.pro_info .pro_name { font-size: 16px; line-height: 24px; }
.pro_info .pro_name i { color: #888888; font-size: 12px; }
.pro_info .add_cart.mui-numbox { width: 100%; }
.pro_info .add_cart.mui-numbox .mui-numbox-btn-minus { display: inline-block; }
.pro_info .add_cart.mui-numbox .mui-numbox-input { display: inline-block; }
.pro_info .add_wrap { margin: 5px 0 0; padding-left: 0; }
.pro_info .pro_price { left: 15px; position: inherit; }

.pro_detail { border-top: 1px solid #ddd; margin-top: 10px; }
.pro_detail li { line-height: 25px; }
.pro_detail span { color: #888888; width: 80px; display: inline-block; }

.order_list { border-bottom: 1px solid #ddd; padding: 0 0 0 15px; background-color: #fff; }
.order_list .mui-checkbox label { padding-left: 32px; padding-right: 0; }
.order_list .mui-checkbox input[type=checkbox] { left: 0; }
.order_list .mui-checkbox input[type=checkbox]:before { width: 24px; height: 24px; font-size: 24px; }
.order_list .mui-checkbox input[type=checkbox]:checked:before { color: #7fc602; }
.order_list h3 { border-top: 1px solid #ddd; height: 40px; line-height: 40px; padding: 0 15px 0 0; }
.order_list h3:first-child { border: 0; }
.order_list h3 input[type=checkbox] { top: 13px; }
.order_list h3 .icon_shop { position: relative; top: 4px; }
.order_list .order_info { position: relative; margin: 10px 15px 0 0; }
.order_list .order_info .mui-media { width: 100%; height: 105px; padding: 10px 0; overflow: hidden; }
.order_list .order_info .mui-media input[type=checkbox] { top: 50%; margin-top: -12px; }
.order_list .order_info .mui-media-object { width: 85px; height: 85px; border: 1px solid #ddd; margin-right: 15px; }
.order_list .order_info .mui-media-object img { max-height: 100%; max-width: 100%; }
.order_list .order_info .mui-media-body { width: 100%; height: 100%; }
.order_list .order_info .mui-media-body p { overflow: hidden; line-height: 18px; }
.order_list .order_info p.name { padding-right: 50px; line-height: 22px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position: relative; }
.order_list .order_info p.name span.fr { font-size: 14px; position: absolute; right: 0; }
.order_list .order_info p.num span.fr { font-size: 14px; color: #888888; }
.order_list p.btn { position: absolute; bottom: 10px; right: 0; }
.order_list p.btn .mui-btn { padding: 3px 15px; font-size: 14px; }
.order_list .order_price { font-size: 14px; padding: 10px 15px; text-align: right; }
.order_list .order_price .orange { font-size: 18px; }
.order_list .price_detail p { line-height: 30px; padding: 0 15px 0 0; }
.order_list .price_detail p:last-child { border-top: 1px solid #eee; line-height: 45px; }

.order_payment .mui-radio { padding: 5px 0 5px 40px; }
.order_payment .shop_icon { position: absolute; left: 0; top: 8px; }

.discount { border-top: 1px solid #ddd; margin-top: 10px; }
.discount .mui-table-view-cell { padding: 13px 15px; }
.discount .mui-table-view-cell > a:not(.mui-btn) { margin: -13px -15px; }
.discount p { color: #888888; }
.discount span.fr { font-size: 14px; margin-right: 20px; }

.order_status { border-bottom: 1px solid #ddd; padding: 15px 0; }
.order_status h4 { height: 40px; line-height: 40px; text-align: center; color: #7fc602; font-size: 20px; }
.order_status h4 .icon_clock { position: relative; top: 5px; margin-right: 20px; }
.order_status h4 .icon_confirm { position: relative; top: 4px; margin-right: 5px; }
.order_status .status { border-top: 1px solid #ddd; margin: 30px 0 15px 0; position: relative; }
.order_status .info { width: 120px; height: 25px; line-height: 25px; background-color: #f3f4f8; display: inline-block; position: absolute; top: 50%; left: 50%; margin-top: -12px; margin-left: -60px; padding: 0 12px; font-size: 14px; }
.order_status .info span { width: 100%; height: 25px; line-height: 25px; display: inline-block; color: #fff; text-align: center; background-color: #1b1b1b; border-radius: 3px; }
.order_status .info i { display: inline-block; position: absolute; top: 0; left: 20px; padding-left: 25px; }

.count_down { width: 140px; height: 25px; line-height: 25px; background-color: #f3f4f8; display: inline-block; position: absolute; top: 50%; left: 50%; margin-top: -12.5px; margin-left: -70px; padding: 0 10px; font-size: 12px; }
.count_down.large { width: 188px; height: 25px; line-height: 25px; margin-left: -94px; }
.count_down i { float: left; }
.count_down span { width: 18px; height: 25px; line-height: 25px; float: left; color: #fff; text-align: center; background-color: #1b1b1b; border-radius: 3px; margin: 0 2px; }

.order_opt { padding: 15px; position: relative; }
.order_opt li { line-height: 24px; font-size: 14px; color: #888888; }
.order_opt .bags { width: 50px; height: 50px; line-height: 50px; -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); -ms-transform: rotate(30deg); -o-transform: rotate(30deg); transform: rotate(30deg); background: url("../img/bag.png") no-repeat center center; background-size: auto 100%; position: absolute; right: 15px; top: 50%; margin-top: -25px; text-align: center; }
.order_opt .bags span { -webkit-transform: rotate(10deg); -moz-transform: rotate(10deg); -ms-transform: rotate(10deg); -o-transform: rotate(10deg); transform: rotate(10deg); padding-top: 8px; display: inline-block; color: #fff600; }

.tips { border-bottom: 1px solid #ddd; background-color: #fff7e2; padding: 0 15px 5px; }
.tips h4 { color: #f56c1a; line-height: 30px; }
.tips h4 .icon_tips { position: relative; top: 3px; }
.tips p { font-size: 14px; line-height: 20px; }

.dialog { width: 80%; position: fixed; left: 10%; top: 35%; background-color: #fff; border-radius: 5px; }
.dialog .btn_wrap { padding: 0 15px 15px; margin: 0; text-align: center; }
.dialog .btn_wrap a { width: 48%; height: 35px; line-height: 35px; display: inline-block; color: #333; border-radius: 3px; }
.dialog .btn_wrap a ~ a { margin-left: 8px; }
.dialog .btn_wrap a:first-child { border: 1px solid #eee; color: #888888; background-color: #fff; }
.dialog .btn_wrap a:last-child { color: #fff; background-color: #7fc602; }
.dialog .tipsCon { padding: 20px 15px; line-height: 24px; }
.dialog .tipsCon .msg { margin: 0; display: block; text-align: center; }

.delete_dialog { width: 100%; height: 146px; width: 100%; top: 100%; left: 0; margin-top: -146px; border-radius: 0; text-align: center; }
.delete_dialog .deleteCon { border-bottom: 1px solid #ddd; line-height: 50px; }
.delete_dialog .btn_block a { color: #666666; display: block; line-height: 45px; }
.delete_dialog .btn_block a:first-child { border-bottom: 5px solid #eee; color: #da2626; }

.alert_dialog { width: 50%; height: 150px; left: 25%; top: 50%; margin-top: -75px; }

.alertCon { text-align: center; padding: 15px; }
.alertCon .msg { display: block; line-height: 24px; }
.alertCon .dialog_icon { width: 40px; height: 40px; line-height: 40px; display: inline-block; text-align: center; border-radius: 50%; color: #fff; background-color: #fff; margin: 20px 0; }
.alertCon .dialog_icon.icon-check { background-color: #7fc602; }
.alertCon .dialog_icon.icon-check:before { content: ""; font-family: Muiicons; font-size: 38px; }
.alertCon .dialog_icon.icon-cancel { background-color: #da2626; }
.alertCon .dialog_icon.icon-cancel:before { content: "×"; font-size: 30px; }
.alertCon .dialog_icon.icon-notice { background-color: #f56c1a; }
.alertCon .dialog_icon.icon-notice:before { content: "!"; font-size: 24px; }

.addr_bg { width: 100%; height: 5px; display: block; background: #fff url("../img/addr_bg.png") repeat-x; background-size: auto 100%; background-position: -10px 0; }
.addr_bg + .address { margin: 0; border: 0; }

.invitation .mt10 { border-top: 1px solid #ddd; }

.invitation .mui-table-view:before, .addr_list .mui-table-view:before { background-color: transparent; }
.invitation .mui-table-view:first-child, .addr_list .mui-table-view:first-child { margin: 0; }
.invitation .mui-table-view-cell, .addr_list .mui-table-view-cell { padding: 13px 15px; }
.invitation .mui-table-view-cell > a:not(.mui-btn), .addr_list .mui-table-view-cell > a:not(.mui-btn) { margin: -13px -15px; }
.invitation span.fr, .addr_list span.fr { font-size: 14px; margin-right: 20px; }
.invitation .icon_camera, .addr_list .icon_camera { position: absolute; right: 10px; top: 5px; }
.invitation span.emotions, .addr_list span.emotions { width: 35px; height: 35px; display: inline-block; position: absolute; top: 10px; right: 15px; }
.invitation span.emotions img, .addr_list span.emotions img { max-height: 100%; max-width: 100%; }

.address { border-top: 1px solid #ddd; margin-top: 10px; }
.address h4 { line-height: 35px; }
.address h4 span { margin-left: 15px; }
.address p { font-size: 14px; color: #888888; padding-right: 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.address .mui-table-view-cell.mui-active { background-color: #fff; }
.address .mui-radio label { padding: 0 30px; }
.address .mui-radio input[type=radio] { left: -2px; top: 50%; margin-top: -13px; }
.address .mui-radio input[type=radio]:before { font-size: 26px; }
.address .mui-radio input[type=radio]:checked:before { content: ""; color: #ef5757; }
.address .mui-table-view-cell .mui-icon-compose { font-size: 28px; position: absolute; right: -4px; top: 11px; margin: 0; }

.addr_list .address { padding: 0; }
.addr_list .address h4 { line-height: 35px; }
.addr_list .address h4 span { margin-left: 15px; }
.addr_list .address h4 span.red { font-size: 14px; }
.addr_list .address p { font-size: 14px; color: #888888; padding-right: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.opt_wrap { border-top: 1px solid #eee; border-bottom: 1px solid transparent; margin-top: 10px; padding: 11px 0 0; overflow: hidden; }
.opt_wrap .mui-radio { border: 0; display: inline-block; top: 6px; }
.opt_wrap .mui-radio label { padding: 0 0 0 25px; }
.opt_wrap .mui-radio input[type=radio] { width: 22px; height: 22px; top: 11px; left: 0; }
.opt_wrap .mui-radio input[type=radio]:before { content: ""; font-size: 22px; }
.opt_wrap .mui-radio input[type=radio]:checked:before { color: #ef5757; }
.opt_wrap .mui-btn { padding: 5px 10px 5px 25px; position: relative; }
.opt_wrap .mui-btn ~ .mui-btn { margin-right: 8px; }
.opt_wrap .mui-btn .mui-icon { font-size: 24px; color: #888888; position: absolute; left: 1px; top: 3px; }
.opt_wrap .mui-btn .icon_pencil { position: absolute; top: 5px; left: 7px; }

.add_list .mui-table-view:first-child { margin-top: 0; }

.addr_position .search_wrap { background-color: #cbe0a5; }
.addr_position .search_list { margin-bottom: 0; border-top: 0; }

.edit_wrap .mui-table-view-cell { overflow: visible; }
.edit_wrap label { width: 100px; display: inline-block; position: absolute; top: 15px; color: #888888; }
.edit_wrap input { display: inline-block; border: 0; margin: 0; height: auto; padding: 0 0 0 100px; text-overflow: ellipsis; }
.edit_wrap .icon_input { line-height: 21px; padding: 0 30px 0 100px; }
.edit_wrap .icon_close { width: 20px; height: 20px; line-height: 20px; border-radius: 50%; position: absolute; right: 15px; top: 11px; font-size: 16px; color: #fff; text-align: center; background-color: #ececed; }
.edit_wrap .mui-icon { position: absolute; right: 15px; top: 11px; font-size: 20px; color: #888888; }
.edit_wrap .switch_wrap { height: 43px; }
.edit_wrap .mui-switch { width: 43px; height: 26px; background-color: #ececed; }
.edit_wrap .mui-switch.mui-active { border-color: #7fc602; background-color: #7fc602; }
.edit_wrap .mui-switch .mui-switch-handle { width: 24px; height: 24px; }

.message_label { width: 100%; height: 320px; max-width: 350px; padding: 10px 15px; position: relative; margin: 0 auto 10px; overflow: hidden; }
.message_label li { width: 20px; height: 20px; line-height: 20px; border-radius: 50%; text-align: center; position: absolute; white-space: nowrap; opacity: 0; top: 50%; left: 50%; }
.message_label li.one { color: #6abac1; background-color: #d6ecee; }
.message_label li.one.active { width: 60px; height: 60px; line-height: 60px; -webkit-transition: all 1.5s ease; -moz-transition: all 1.5s ease; -ms-transition: all 1.5s ease; -o-transition: all 1.5s ease; transition: all 1.5s ease; opacity: 1; top: 10px; left: 30%; }
.message_label li.two { color: #5fca86; background-color: #d2f0dd; font-size: 14px; }
.message_label li.two.active { width: 60px; height: 60px; line-height: 60px; -webkit-transition: all 1.5s ease; -moz-transition: all 1.5s ease; -ms-transition: all 1.5s ease; -o-transition: all 1.5s ease; transition: all 1.5s ease; opacity: 1; top: 12px; left: 60%; }
.message_label li.three { color: #789fc5; background-color: #e3ebf3; }
.message_label li.three.active { width: 70px; height: 70px; line-height: 70px; -webkit-transition: all 1.5s ease; -moz-transition: all 1.5s ease; -ms-transition: all 1.5s ease; -o-transition: all 1.5s ease; transition: all 1.5s ease; opacity: 1; top: 55px; left: 10%; }
.message_label li.four { color: #b98e77; background-color: #ede2dc; }
.message_label li.four.active { width: 100px; height: 100px; line-height: 100px; -webkit-transition: all 1.5s ease; -moz-transition: all 1.5s ease; -ms-transition: all 1.5s ease; -o-transition: all 1.5s ease; transition: all 1.5s ease; opacity: 1; top: 65px; left: 36%; }
.message_label li.five { color: #b46ed7; background-color: #f2e6f8; }
.message_label li.five.active { width: 65px; height: 65px; line-height: 65px; -webkit-transition: all 1.5s ease; -moz-transition: all 1.5s ease; -ms-transition: all 1.5s ease; -o-transition: all 1.5s ease; transition: all 1.5s ease; opacity: 1; top: 75px; left: 70%; }
.message_label li.six { color: #4a8de7; background-color: #d1e2f9; }
.message_label li.six.active { width: 75px; height: 75px; line-height: 75px; -webkit-transition: all 1.5s ease; -moz-transition: all 1.5s ease; -ms-transition: all 1.5s ease; -o-transition: all 1.5s ease; transition: all 1.5s ease; opacity: 1; top: 130px; left: 5%; }
.message_label li.seven { color: #d96368; background-color: #f7dedf; font-size: 14px; }
.message_label li.seven.active { width: 75px; height: 75px; line-height: 75px; -webkit-transition: all 1.5s ease; -moz-transition: all 1.5s ease; -ms-transition: all 1.5s ease; -o-transition: all 1.5s ease; transition: all 1.5s ease; opacity: 1; top: 170px; left: 28%; }
.message_label li.eight { color: #c66da2; background-color: #f1dbe8; font-size: 12px; }
.message_label li.eight.active { width: 50px; height: 50px; line-height: 50px; -webkit-transition: all 1.5s ease; -moz-transition: all 1.5s ease; -ms-transition: all 1.5s ease; -o-transition: all 1.5s ease; transition: all 1.5s ease; opacity: 1; top: 170px; left: 52%; }
.message_label li.nine { color: #71adbc; background-color: #d9e9ed; font-size: 14px; }
.message_label li.nine.active { width: 80px; height: 80px; line-height: 80px; -webkit-transition: all 1.5s ease; -moz-transition: all 1.5s ease; -ms-transition: all 1.5s ease; -o-transition: all 1.5s ease; transition: all 1.5s ease; opacity: 1; top: 150px; left: 70%; font-size: 14px; }
.message_label li.ten { color: #c58b78; background-color: #f3e7e3; }
.message_label li.ten.active { width: 65px; height: 65px; line-height: 65px; -webkit-transition: all 1.5s ease; -moz-transition: all 1.5s ease; -ms-transition: all 1.5s ease; -o-transition: all 1.5s ease; transition: all 1.5s ease; opacity: 1; top: 230px; left: 11%; }
.message_label li.eleven { color: #5dc55d; background-color: #cdedcd; }
.message_label li.eleven.active { width: 50px; height: 50px; line-height: 50px; -webkit-transition: all 1.5s ease; -moz-transition: all 1.5s ease; -ms-transition: all 1.5s ease; -o-transition: all 1.5s ease; transition: all 1.5s ease; opacity: 1; top: 260px; left: 37%; }
.message_label li.twelve { color: #eaba3c; background-color: #f9ebc6; font-size: 12px; }
.message_label li.twelve.active { width: 80px; height: 80px; line-height: 80px; -webkit-transition: all 1.5s ease; -moz-transition: all 1.5s ease; -ms-transition: all 1.5s ease; -o-transition: all 1.5s ease; transition: all 1.5s ease; opacity: 1; top: 230px; left: 58%; font-size: 12px; }

.leave_msg { padding: 0 15px; }
.leave_msg textarea { width: 100%; height: 150px; padding: 10px; font-size: 14px; }

.sender_detail { border-top: 1px solid #ddd; }
.sender_detail li { line-height: 25px; }
.sender_detail span { color: #888888; width: 80px; display: inline-block; }

.pwd_dialog .dialog { width: 80%; height: 200px; top: 50%; margin-top: -100px; text-align: center; }
.pwd_dialog .dialog_title { border-bottom: 1px solid #ddd; line-height: 50px; margin-bottom: 10px; position: relative; }
.pwd_dialog .close_dialog { width: 30px; height: 30px; line-height: 30px; display: inline-block; color: #888888; font-size: 30px; position: absolute; left: 5px; top: 10px; }
.pwd_dialog p.payment { font-size: 14px; color: #888888; line-height: 30px; }
.pwd_dialog p.price { font-size: 24px; line-height: 35px; }

.pwd_wrap { padding: 10px 15px; }

.pwd_box { width: 100%; height: 45px; border: 1px solid #ddd; position: relative; overflow: hidden; }
.pwd_box input[type="text"] { width: 100%; height: 100%; position: absolute; top: 0; left: 0; opacity: 0; _filter: alpha(opacity=0); margin: 0; padding: 0; }

.fake_box { width: 100%; height: 45px; background-color: #fff; }
.fake_box input[type="password"] { border: 0; border-right: 1px solid #eee; width: 16.66%; height: 100%; float: left; border-radius: 0; text-align: center; font-size: 30px; margin: 0; padding: 0; }
.fake_box input[type="password"]:last-child { border: 0; }

.user_info { width: 100%; height: auto; padding: 20px 15px; background: url("../img/user_bg.png") no-repeat; background-size: 100% 100%; overflow: hidden; }
.user_info .head_img { width: 60px; height: 60px; border-radius: 50%; margin-right: 15px; }
.user_info .mui-media-body { position: relative; }
.user_info h3 { color: #fff; font-size: 18px; line-height: 30px; margin-bottom: 5px; }
.user_info a { color: #fff; font-size: 14px; line-height: 20px; }
.user_info a.icon_email { position: absolute; right: 5px; top: 50%; margin-top: -15px; }
.user_info a.icon_email .mui-badge { color: #fff; background-color: #ef5757; position: absolute; right: -5px; top: 0; }

.user_order .mui-table-view-cell { padding: 15px; }
.user_order .mui-table-view-cell a { padding-left: 60px; }
.user_order .mui-table-view-cell .user_icon { position: absolute; top: 8px; left: 15px; }
.user_order span.fr { margin-right: 20px; font-size: 14px; color: #888888; }
.user_order .mt10 { border-top: 1px solid #ddd; }
.user_order .mt10 .mui-table-view-cell:after { left: 60px; }

.order_optList { width: 100%; height: 60px; border-bottom: 1px solid #ddd; background-color: #fff; display: table; }
.order_optList li { display: table-cell; text-align: center; position: relative; }
.order_optList a { display: block; padding: 10px 0; }
.order_optList span { display: block; margin: 0 auto; color: #888888; font-size: 14px; }
.order_optList span.user_icon { margin-bottom: 8px; }
.order_optList .mui-badge { border: 1px solid #ef5757; position: absolute; top: 6px; left: 50%; margin-left: 2px; color: #ef5757; background-color: #fff; padding: 1px 3px; }

.order_intro .mui-fullscreen, .user_msg .mui-fullscreen, .user_charge .mui-fullscreen { height: auto; }
.order_intro .mui-segmented-control, .user_msg .mui-segmented-control, .user_charge .mui-segmented-control { border-bottom: 1px solid #ddd; }
.order_intro .mui-segmented-control .mui-control-item, .user_msg .mui-segmented-control .mui-control-item, .user_charge .mui-segmented-control .mui-control-item { height: 45px; line-height: 45px; }
.order_intro .mui-segmented-control.mui-segmented-control-inverted .mui-control-item, .user_msg .mui-segmented-control.mui-segmented-control-inverted .mui-control-item, .user_charge .mui-segmented-control.mui-segmented-control-inverted .mui-control-item { border: 0; color: #888888; padding: 0 10px; background-color: #fff; }
.order_intro .mui-segmented-control.mui-segmented-control-inverted .mui-control-item span, .user_msg .mui-segmented-control.mui-segmented-control-inverted .mui-control-item span, .user_charge .mui-segmented-control.mui-segmented-control-inverted .mui-control-item span { display: block; border-bottom: 2px solid transparent; }
.order_intro .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active, .user_msg .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active, .user_charge .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active { border: 0; }
.order_intro .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active span, .user_msg .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active span, .user_charge .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active span { border-bottom: 2px solid #7fc602; color: #7fc602; }
.order_intro .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group, .user_msg .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group, .user_charge .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group { top: 57px; }
.order_intro .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item, .user_msg .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item, .user_charge .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item { border: 0; }

.order_intro .order_list { border-top: 1px solid #ddd; position: relative; margin-bottom: 10px; }
.order_intro .order_list .count_down { left: 100%; margin-left: -145px; top: 25px; background-color: #fff; font-size: 14px; }
.order_intro .order_list .count_down.large { margin-left: -195px; }

.o_status { border-top: 1px solid #eee; padding: 10px 15px; overflow: hidden; position: relative; }
.o_status span.green { display: inline-block; height: 34px; line-height: 34px; padding-left: 15px; }
.o_status .icon_clock { width: 25px; height: 25px; background-position: 0 -107px; position: absolute; top: 12px; left: 0; }
.o_status .mui-btn ~ .mui-btn { margin-right: 8px; }

.no_order { width: 100%; height: 100%; text-align: center; }
.no_order .no_icon { margin: 80px 0 20px 0; }
.no_order p { color: #888888; line-height: 24px; }
.no_order .mui-btn { width: 50%; padding: 8px 0; margin-top: 10px; }

.input_wrap { padding: 0 15px; position: relative; }
.input_wrap input { border: 1px solid #eee; margin: 0; padding: 12px 15px; height: 50px; line-height: 26px; }
.input_wrap .mui-icon-arrowdown { position: absolute; right: 25px; top: 13px; color: #ddd; }

.mui-poppicker-header { background-color: #ececed; padding: 0 6px; }

.mui-poppicker-body { border: 0; height: 150px; }

.mui-picker { background-color: #fff; }

.mui-pciker-rule-ft { border-color: #eee; }

.mui-poppicker .mui-btn { border: 0; background: none; line-height: 1; }
.mui-poppicker .mui-btn.mui-poppicker-btn-cancel { font-size: 30px; color: #888888; padding: 0 12px; }
.mui-poppicker .mui-btn.mui-poppicker-btn-ok { font-size: 16px; color: #7fc602; padding: 10px 12px; }

.photo_wrap { padding: 0 10px; overflow: hidden; }
.photo_wrap .take_photo { width: 80px; height: 80px; border: 1px solid #ddd; float: left; display: inline-block; text-align: center; padding: 8px 0; margin: 5px; }
.photo_wrap .take_photo img { width: 40px; height: 40px; margin: 0 auto; display: block; }
.photo_wrap .take_photo span { font-size: 12px; color: #888888; }
.photo_wrap .photo_list { height: 80px; float: left; }
.photo_wrap .photo_list li { width: 80px; height: 80px; border: 1px solid #ddd; margin: 5px; position: relative; float: left; }
.photo_wrap .photo_list img { width: 100%; height: 100%; }
.photo_wrap .photo_list .icon_close { width: 20px; height: 20px; line-height: 20px; border-radius: 50%; position: absolute; right: -5px; top: -5px; font-size: 16px; color: #fff; text-align: center; background-color: #f56c1a; }

.mui-views, .mui-view, .mui-pages, .mui-page, .mui-page-content { width: 100%; height: 100%; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: #f3f4f8; }

.mui-pages { height: auto; }
.mui-pages .mui-page { display: block; }
.mui-pages .mui-scroll-wrapper { overflow: scroll; }

.mui-page { display: none; }

.mui-page.mui-transitioning { -webkit-transition: -webkit-transform 300ms ease; -moz-transition: -moz-transform 300ms ease; -ms-transition: -ms-transform 300ms ease; -o-transition: -o-transform 300ms ease; transition: transform 300ms ease; }

.mui-page-left { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.mui-android .mui-navbar-inner.mui-navbar-left { opacity: 0; }

.mui-ios .mui-page-left { -webkit-transform: translate3d(-20%, 0, 0); -moz-transform: translate3d(-20%, 0, 0); -ms-transform: translate3d(-20%, 0, 0); -o-transform: translate3d(-20%, 0, 0); transform: translate3d(-20%, 0, 0); }
.mui-ios .mui-navbar-left .mui-left, .mui-ios .mui-navbar-left .mui-center, .mui-ios .mui-navbar-left .mui-right { opacity: 0; }

.mui-navbar .mui-btn-nav { -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none; -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -ms-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }

.mui-navbar-inner.mui-transitioning { -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease; -moz-transition: opacity 300ms ease, -moz-transform 300ms ease; -ms-transition: opacity 300ms ease, -ms-transform 300ms ease; -o-transition: opacity 300ms ease, -o-transform 300ms ease; transition: opacity 300ms ease, transform 300ms ease; }

.mui-navbar-inner .mui-transitioning { -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease; -moz-transition: opacity 300ms ease, -moz-transform 300ms ease; -ms-transition: opacity 300ms ease, -ms-transform 300ms ease; -o-transition: opacity 300ms ease, -o-transform 300ms ease; transition: opacity 300ms ease, transform 300ms ease; }

.header_search { width: 100%; height: 52px; position: fixed; padding: 10px 15px; background-color: #cbe0a5; }
.header_search .mui-icon-search { position: absolute; top: 8px; left: 5px; color: #888888; }
.header_search .mui-icon-search:before { color: #666666; }
.header_search input[type=search] { height: 32px; line-height: 32px; color: #333; background-color: #fff; text-align: left; font-size: 14px; margin: 0; border-radius: 3px; }

.position_list { padding-top: 52px; background-color: #fff; }
.position_list li { border-bottom: 1px solid #ddd; padding: 10px 15px; }
.position_list h4 { line-height: 30px; }
.position_list p { line-height: 20px; font-size: 14px; color: #888888; }
.position_list .mui-icon-location { font-size: 20px; }

.user_msg .msg_list { padding: 0 15px 5px; }
.user_msg .msg_list h4 { height: 20px; line-height: 20px; position: relative; padding-left: 30px; color: #666666; }
.user_msg .msg_list h4:before { width: 19px; height: 19px; content: ""; display: block; position: absolute; left: 0; top: 0; background: url("../img/time.png") no-repeat; background-position: -19px 0; background-size: auto 100%; }
.user_msg .msg_list p { border: 1px solid #ddd; white-space: normal; line-height: 24px; padding: 5px 15px; font-size: 14px; color: #888888; background-color: #ececed; }
.user_msg .msg_list div { position: relative; padding: 5px 0 5px 30px; }
.user_msg .msg_list div:before { width: 0.15rem; height: 100%; content: ""; display: block; position: absolute; left: 8px; top: 0; background-color: #ececed; }
.user_msg li.new_msg h4 { color: #333; }
.user_msg li.new_msg h4:before { background-position: 0 0; }
.user_msg li.new_msg p { color: #333; background-color: #fff; }
.user_msg li:last-child div { padding-bottom: 0; }

.msg_detail { padding: 15px; text-align: center; }

.msg_title { font-weight: bold; margin-top: 20px; }

.msg_time { font-size: 14px; margin: 5px 0 10px; }

.msg_content { text-align: left; }
.msg_content p { text-indent: 2rem; line-height: 24px; color: #666666; }

.user_charge .title { position: fixed; top: 100px; z-index: 1; }

.account { width: 100%; height: 100px; padding: 20px 15px; background-color: #7fc602; position: fixed; z-index: 1; }
.account .mui-btn { border: 1px solid #fff; padding: 5px 30px; border-radius: 20px; color: #fff; background-color: #7fc602; }
.account p { color: #fff; }
.account p.value { font-size: 28px; margin-top: 10px; }

.user_charge .mui-fullscreen { padding-top: 141px; }
.user_charge .mui-segmented-control { border-top: 1px solid #ddd; }
.user_charge .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group { top: 190px; }

.charge_list { background-color: #fff; padding: 0 15px; }
.charge_list li { border-bottom: 1px solid #eee; padding: 15px 0; overflow: hidden; }
.charge_list li:last-child { border: 0; }
.charge_list p { float: left; }
.charge_list p span { display: block; line-height: 25px; }
.charge_list p span:last-child { font-size: 14px; color: #888888; }
.charge_list p.time { width: 80px; color: #888888; }
.charge_list .charge_icon { float: left; margin-right: 20px; }

.recharge { padding: 30px 12px 0; text-align: center; overflow: hidden; }
.recharge li { border: 1px solid #7fc602; width: 30%; display: inline-block; padding: 10px 0; color: #7fc602; text-align: center; border-radius: 3px; margin: 5px 2px; }
.recharge li h4 { line-height: 30px; }
.recharge li p { font-size: 14px; color: #7fc602; line-height: 20px; white-space: nowrap; }
.recharge li.active { color: #fff; background-color: #7fc602; }
.recharge li.active p { color: #fff; }

.notes { padding: 0 15px; font-size: 14px; color: #666666; line-height: 20px; }

.bag_intro { width: 110px; height: 40px; left: 100%; margin-left: -110px; display: inline-block; }

.bag_info { padding: 0 15px 10px; margin-top: 10px; }
.bag_info li { width: 100%; height: 80px; background: url("../img/bag_bg.png") no-repeat; background-size: 100% 200%; position: relative; margin-bottom: 10px; color: #fff; }
.bag_info li span { width: 21%; height: auto; display: inline-block; text-align: center; position: absolute; left: 3%; top: 50%; margin-top: -15px; }
.bag_info li span i { font-size: 24px; margin-left: -4%; }
.bag_info li p { padding-left: 31%; font-size: 12px; color: #fff; line-height: 18px; }
.bag_info li p.auth { font-size: 16px; line-height: 24px; padding-top: 18px; }
.bag_info li.history { background-position: 0 -80px; color: #888888; }
.bag_info li.history p { color: #888888; }

.intro_detail { padding: 10px 15px; }
.intro_detail h3 { font-weight: bold; text-align: center; padding: 15px 0; }
.intro_detail span { width: 20px; height: 20px; line-height: 20px; display: inline-block; background-color: #f56c1a; border-radius: 50%; text-align: center; font-size: 14px; color: #fff; margin-right: 10px; position: absolute; left: 0; top: 1px; }
.intro_detail p { line-height: 24px; padding-left: 30px; }
.intro_detail .question { position: relative; }
.intro_detail .answer { border-bottom: 1px dashed #ddd; padding-bottom: 10px; margin: 10px 0; position: relative; }
.intro_detail .answer span { background-color: #7fc602; }
.intro_detail .answer p { color: #666666; }
.intro_detail .answer:last-child { border: 0; }

.safe .mui-table-view:first-child { border-top: 1px solid #ddd; margin-top: 10px; }
.safe .mui-table-view-cell { padding: 13px 15px; }
.safe .mui-table-view-cell > a:not(.mui-btn) { margin: -13px -15px; }
.safe span.fr { font-size: 14px; margin-right: 20px; }

.safe_opt { padding-top: 20px; }
.safe_opt .input_wrap { margin-bottom: 10px; }
.safe_opt input { padding-left: 40px; padding-right: 110px; }
.safe_opt .safe_icon { position: absolute; top: 12px; left: 25px; }
.safe_opt .check-btn { border: 0; border-left: 1px solid #eee; padding: 16px 10px; position: absolute; right: 16px; top: 1px; }
.safe_opt .mui-checkbox { height: 20px; line-height: 20px; }
.safe_opt .mui-checkbox.mui-left label { padding-left: 45px; font-size: 14px; color: #666666; }
.safe_opt .mui-checkbox.mui-left a { font-size: 14px; color: #7fc602; position: absolute; left: 85px; top: 0; }
.safe_opt .mui-checkbox input[type=checkbox] { width: 20px; height: 20px; padding: 0; top: 0; }
.safe_opt .mui-checkbox input[type=checkbox]:before { font-size: 20px; }
.safe_opt .mui-checkbox input[type=checkbox]:checked:before { color: #f56c1a; }

.pwd_input { border-top: 1px solid #ddd; margin-top: 10px; }
.pwd_input li { padding: 4px 15px; position: relative; }
.pwd_input input { border: 0; margin: 0; padding-left: 2rem; }
.pwd_input .safe_icon { position: absolute; left: 15px; top: 9px; }

.choose_feeback .radio_wrap { padding: 0 15px 5px; border: 0; background-color: transparent; text-align: center; }
.choose_feeback .radio_wrap .mui-radio { width: 32%; padding-left: 25px; border: 0; display: inline-block; }
.choose_feeback .radio_wrap .mui-radio input[type=radio] { top: 50%; margin-top: -12px; right: 0; left: 0; }
.choose_feeback .radio_wrap .mui-radio input[type=radio]:before { font-size: 24px; height: 24px; content: ""; }
.choose_feeback .mui-table-view { border-top: 1px solid #ddd; }
.choose_feeback .mui-table-view-cell { padding: 13px 15px; }
.choose_feeback .mui-table-view-cell > a:not(.mui-btn) { margin: -13px -15px; }
.choose_feeback span.fr { font-size: 14px; margin-right: 20px; padding-left: 30px; position: relative; }
.choose_feeback .official_icon { position: absolute; left: 0; top: -8px; }

.fault { padding-top: 70px; }

.choose_fault { padding: 0 12px; text-align: center; overflow: hidden; }
.choose_fault li { border: 1px solid #7fc602; width: 47%; display: inline-block; padding: 15px; color: #7fc602; text-align: center; border-radius: 3px; margin: 5px 3px; }
.choose_fault li.active { color: #fff; background-color: #7fc602; }

.reason_dialog .dialog { width: 100%; height: 72%; position: absolute; top: 28%; left: 0; border-radius: 0; }
.reason_dialog .dialog_title { height: 40px; line-height: 40px; padding: 0 15px; color: #888888; background-color: #ececed; }
.reason_dialog .close_dialog { width: 30px; height: 30px; line-height: 30px; display: inline-block; color: #888888; font-size: 28px; position: absolute; right: 0px; top: 6px; }
.reason_dialog .leave_msg { padding: 10px 15px 0; }
.reason_dialog .leave_msg textarea { height: 80px; }
.reason_dialog .fixed_btn { position: relative; padding: 0 15px; top: 15px; }

.delivery_dialog .dialog { width: 80%; height: auto; top: 20%; }
.delivery_dialog p { padding: 0 15px; }
.delivery_dialog p:first-child { line-height: 50px; }
.delivery_dialog ul { max-height: 180px; overflow: scroll; }
.delivery_dialog .mui-media { line-height: 60px; padding: 15px; overflow: hidden; }
.delivery_dialog .mui-media-object { width: 60px; height: 60px; border: 1px solid #ddd; margin-right: 20px; }
.delivery_dialog .btn_group { border-top: 1px solid #ddd; overflow: hidden; margin: 0; padding: 0; }
.delivery_dialog .btn_group a { height: 50px; line-height: 50px; width: 50%; float: left; display: inline-block; text-align: center; color: #888888; }
.delivery_dialog .btn_group a:last-child { border-left: 1px solid #ddd; color: #7fc602; }

@media (min-width: 350px) { .pwd_box { height: 50px; }
  .fake_box { height: 50px; }
  .reason_dialog .dialog { width: 100%; height: 60%; top: 40%; } }
